#elHeader {
  justify-content: space-between;
  overflow-x: hidden;

  .logo {
    font-size: 1.1em;
    color: #ffffff;
    margin-left: 3em;
    font-family: "Courier New", Courier, monospace;
  }

  .navbar {
    margin-left: -3em;

    li {
      a {
        font-size: 0.16rem;
        padding: 0.2rem 0.32rem;
        color: #fff;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        &:hover {
          background-color: limegreen;
          color: darkred;
        }
      }
    }
  }

  .right-nav {
    margin-right: 5em;

    li {
      margin: 0 1em;
    }

    .qq {

    }

    .github {

    }

    .menu-btn {
      display: none;

      i {
        font-size: 1.5em;
        color: #ffffff;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #elHeader {
    align-items: flex-start;
    padding: .75em 0 0 0;

    .logo {
      width: 40vw;
      height:75px;
      background: rgba(48, 43, 48, .95);
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 60vw;
    }

    .navbar {
      width: 100vw;
      padding: 0;
      margin: 0;
      margin-top: 4em;
      flex-direction: column;
      transition: top linear .5s;
      animation: menuShow linear .6s;

      li {
        a {
          width: 100vw;
          text-align: center;
          display: inline;
          font-size: 0.14rem;
          padding: .8em 0;
        }
      }
    }

    .right-nav {
      width: 60vw;
      height: 75px;
      background: rgba(48, 43, 48, .95);
      position: absolute;
      top: 0;
      right: 0;
      left: 40vw;
      .menu-btn {
        display: block;
      }
    }


  }
}


#footer {
  height: 8vh;
  width: 100vw;

  .beian {
    background-color: #222;
    text-align: center;
    line-height: 8vh;
    font-size: 0.15rem;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    span {
      cursor: pointer;
    }
  }
}

@keyframes menuShow {
  from {
    margin-top: -15em;
  }
  to {
    margin-top: 4em;
  }
}