*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: content-box;
    transition: .5s linear; 
    transition: linear .5s;
    font-size: .15rem;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
/* a:hover{
    text-decoration: underline;
} */
ul{
    list-style: none;
}
body *{
    transition: ease-in-out 500ms;
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Arial", "Verdana", "Microsoft Yahei", sans-serif;
    transition-property: background, color, border, width, height, margin, padding, top, right, bottom, left, transform, opacity, visibility, zoom;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.font-center,.flex-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-black{
    color: #000;
}
.flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flex-vertical-start{
    display: flex;
    /* align-items: flex-start; */
    vertical-align: middle;
}
.avatar{
    border-radius: 50%;
}
.userName{
    color: #01aaed;
    font-size: 1.1em;
}